@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: CirrusCumulus;
    font-weight: 400;
    src: url(/fonts/cirruscumulus/CirrusCumulus.woff) format("woff"),
      url(/fonts/cirruscumulus/CirrusCumulus.otf) format("otf"),
      url(/fonts/cirruscumulus/CirrusCumulus.ttf) format("ttf");
  }
  @font-face {
    font-family: IBM Plex Sans;
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/IBMPlexSans/IBMPlexSans-Light.woff2) format("woff2"),
      url(/fonts/IBMPlexSans/IBMPlexSans-Light.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: IBM Plex Sans;
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/IBMPlexSans/IBMPlexSans-LightItalic.woff2) format("woff2"),
      url(/fonts/IBMPlexSans/IBMPlexSans-LightItalic.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/IBMPlexSans/IBMPlexSans-Regular.woff2) format("woff2"),
      url(/fonts/IBMPlexSans/IBMPlexSans-Regular.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: IBM Plex Sans;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/IBMPlexSans/IBMPlexSans-Italic.woff2) format("woff2"),
      url(/fonts/IBMPlexSans/IBMPlexSans-Italic.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff2) format("woff2"),
      url(/fonts/IBMPlexSans/IBMPlexSans-SemiBold.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-style: italic;
    src: url(/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.woff2) format("woff2"),
      url(/fonts/IBMPlexSans/IBMPlexSans-SemiBoldItalic.woff) format("woff");
    font-display: swap;
  }
  /* Link & General typography */
  body {
    @apply bg-beige;
  }
  section a {
    @apply underline;
  }
  strong {
    @apply font-semibold;
  }
  h4 {
    @apply font-header;
  }
  img + em {
    @apply leading-snug relative -top-4 block text-center mx-auto sm:w-10/12;
  }
}

@layer components {
  .font-header {
    @apply font-ibm no-underline lg:text-xl;
  }
  .header {
    @apply font-normal font-header;
  }
  .header-light {
    @apply font-light font-header;
  }
  .header-medium {
    @apply font-semibold font-header text-xl lg:text-2xl;
  }
  .small-section {
    @apply mt-8 last:mb-10 pb-4 border-b-2 md:border-b-3 lg:mt-10;
  }
  .section-end-link {
    @apply mt-4 mb-2 text-lg font-ibm font-semibold lg:text-xl text-right;
  }
}

@layer utilities {
  .anchor-scroll {
    scroll-margin-top: 5rem;
  }
}

/* Customs styles */

#research-home-nav,
#research-title,
#research-sitemap,
#research h2,
#research h3,
#research h4 {
  @apply text-blue-600;
}
#research h3.sectiontitle {
  @apply bg-blue-100;
}
#softwares-home-nav,
#softwares-title,
#softwares-sitemap,
#softwares h2,
#softwares h3,
#softwares h4 {
  @apply text-yellow-500;
}
#softwares h3.sectiontitle {
  @apply bg-yellow-100;
}
#publications-home-nav,
#publications-title,
#publications-sitemap,
#publications h2,
#publications h3,
#publications h4 {
  @apply text-indigo-700;
}
#publications h3.sectiontitle {
  @apply bg-indigo-100;
}
#resources-home-nav,
#resources-title,
#resources-sitemap,
#resources h2,
#resources h3,
#resources h4 {
  @apply text-green-700;
}
#resources h3.sectiontitle {
  @apply bg-green-100;
}

#people-home-nav,
#people-title,
#people-sitemap,
#people h2,
#people h3,
#people h4 {
  @apply text-red-500;
}
#people h3.sectiontitle {
  @apply bg-red-100;
}
#news-home-nav,
#news-title,
#news-sitemap,
#news h2,
#news h3,
#news h4 {
  @apply text-purple-700;
}
#news h3.sectiontitle {
  @apply bg-purple-100;
}
#science-news-past-items h2,
#science-news-past-items h3,
#science-news-past-items h4 {
  @apply text-purple-700;
}
#science-news-past-items h3.sectiontitle {
  @apply bg-purple-100;
}
#us-news-past-items h2,
#us-news-past-items h3,
#us-news-past-items h4 {
  @apply text-purple-700;
}
#us-news-past-items h3.sectiontitle {
  @apply bg-purple-100;
}
#funding-home-nav,
#funding-title,
#funding-sitemap,
#funding h2,
#funding h3,
#funding h4 {
  @apply text-pink-500;
}
#funding h3.sectiontitle {
  @apply bg-pink-100;
}
